<div class="col-md-8 offset-md-2">
  <main class="movies-form">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card" style="background-color: silver">
            <div class="card-header text-center"><h5>Get into movies</h5></div>
            <form [formGroup]="movieForm" (ngSubmit)="onSearch()">
              <div class="card-body">
                <div class="form-group row">
                  <div class="col-md-12">
                    <input
                      type="text"
                      id="title"
                      formControlName="title"
                      class="form-control"
                      name="title"
                      autofocusformControlName="title"
                      placeholder="Movie title"
                    />
                    <br />
                    <button type="submit" class="btn btn-primary">
                      <span>Search</span>
                    </button>
                    <hr />
                    <div *ngIf="loading && loaded == false" class="text-center">
                      <img
                        height="100"
                        width="100"
                        alt="Loading"
                        src="https://media.giphy.com/media/xTkcEQACH24SMPxIQg/giphy.gif"
                      /><br />
                      <label style="color: green"
                        >Searching, please wait...</label
                      >
                    </div>
                    <div
                      *ngIf="movieModel"
                      style="background-color: azure; padding: 10px"
                    >
                      <h4 class="text-center">Movie details</h4>
                      <hr />
                      <ul
                        style="list-style-type: none; color: rgb(179, 54, 54)"
                      >
                        <lh>Title: {{ movieModel.Title }}</lh>
                        <li>Year: {{ movieModel.Year }}</li>
                        <li>Type: {{ movieModel.Type }}</li>
                        <li>Rated: {{ movieModel.Rated }}</li>
                        <li>Actors: {{ movieModel.Actors }}</li>
                        <li>Writers: {{ movieModel.Writer }}</li>
                        <li>Country: {{ movieModel.Country }}</li>
                      </ul>
                    </div>
                    <p *ngIf="dataReturned == false && loaded">
                      Oops... Movie not found! Please search again
                    </p>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
