<div class="col-md-8 offset-md-2">
  <main class="movies-form">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card" style="background-color: silver">
            <div class="card-header text-center"><h5>Get into movies</h5></div>
            <form [formGroup]="movieForm" (ngSubmit)="onSearch()">
              <div class="card-body">
                <div class="form-group row">
                  <div class="col-md-12">
                    <input
                      *ngIf="movieForm.value.searchBy == 'title'"
                      type="text"
                      id="title"
                      formControlName="title"
                      class="form-control"
                      name="title"
                      autofocusformControlName="title"
                      placeholder="Search by Movie title"
                    />
                    <input
                      *ngIf="movieForm.value.searchBy == 'IMDb ID'"
                      type="text"
                      id="IMDb ID"
                      formControlName="title"
                      class="form-control"
                      name="IMDb ID"
                      autofocusformControlName="title"
                      placeholder="Search by IMDb ID"
                    />
                    <br />
                    <input
                      type="text"
                      id="year"
                      formControlName="year"
                      class="form-control"
                      name="year"
                      autofocusformControlName="year"
                      placeholder="Year"
                    />
                    <br />
                    <select formControlName="plot" class="form-control">
                      <option value="" disabled>Select plot</option>
                      <option formControlName="plot" value="Short">
                        Short
                      </option>
                      <option formControlName="plot" value="full">Full</option>
                    </select>

                    <br />
                    <label>
                      <input
                        type="radio"
                        value="title"
                        formControlName="searchBy"
                      />&nbsp;
                      <span>Title</span>
                    </label>
                    &nbsp;
                    <label>
                      <input
                        type="radio"
                        value="IMDb ID"
                        formControlName="searchBy"
                      />&nbsp;
                      <span>IMDb ID</span>
                    </label>
                    &nbsp;

                    <br /><br />
                    <button type="submit" class="btn btn-primary">
                      <span>Search</span>
                    </button>
                    <hr />
                    <div *ngIf="loading && loaded == false" class="text-center">
                      <img
                        style="border-radius: 50%"
                        height="100"
                        width="100"
                        alt="Loading"
                        src="https://media.giphy.com/media/xTkcEQACH24SMPxIQg/giphy.gif"
                      /><br />
                      <label style="color: green"
                        >Searching, please wait...</label
                      >
                    </div>
                    <div
                      *ngIf="movieModel && loaded && dataReturned != 'False'"
                      style="background-color: azure; padding: 10px"
                    >
                      <h4 class="text-center">Movie details</h4>
                      <hr />
                      <ul
                        style="list-style-type: none; color: rgb(179, 54, 54)"
                      >
                        <lh>Title: {{ movieModel.Title }}</lh>
                        <li>Year: {{ movieModel.Year }}</li>
                        <li>Type: {{ movieModel.Type }}</li>
                        <li>Rated: {{ movieModel.Rated }}</li>
                        <li>Actors: {{ movieModel.Actors }}</li>
                        <li>Writers: {{ movieModel.Writer }}</li>
                        <li>Country: {{ movieModel.Country }}</li>
                      </ul>
                    </div>
                    <div
                      class="text-center"
                      *ngIf="dataReturned == 'False' && loaded == true"
                    >
                      <img
                        height="220"
                        width="230"
                        src="../assets/no-result-found.png"
                      />
                      <p>Oops... Movie not found! Please search again</p>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
